body{
    background: #000;
}

header h1{
    color: #ff5e19;
}

header h3{
    color: white;
}

main{
    background: #151515;
}

img{
    max-width: 100%;
}

.card-body{
    background: #000;
}
.price{
    border: 1px solid white
}

.budget h4{
    display: inline-block;
}

ol li{
    font-size: 1.2rem;
}